@font-face {
  font-family: iransans;
  src: url(font/IRANSans.ttf);
}

* {
  font-family: iransans;
  direction: rtl;
}
body {
  margin: 0;
  padding: 0px 0px;
  background-color: antiquewhite;
}

.map {
  height: 550px;
  width: 100%;
}
.print-map {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  background-color: rgb(216, 136, 15);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.fullscreen-map {
  position: absolute;
  bottom: 10px;
  right: 100px;
  z-index: 1;
  background-color: rgb(20, 157, 220);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.current-location {
  position: absolute;
  bottom: 10px;
  right: 225px;
  z-index: 1;
  background-color: rgb(220, 20, 143);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.coordinate {
  position: absolute;
  bottom: 15px;
  left: 25px;
  z-index: 1;
  border: 1px solid gray;
  padding: 2px 15px;
  border-radius: 10px;
}

@media screen and (max-width: 852px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coordinate {
    position: absolute;
    bottom: 65px;
    left: 0px;
    margin: 0px 5px;
  }
  .map {
    height: 700px;
    width: 100%;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fullscreen-map .print-map {
    display: inline;
    margin: 0 500px;
  }
}
